@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Light"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Light.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Light.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Light.otf) format("opentype");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Light Italic"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-LightItalic.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-LightItalic.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-LightItalic.otf) format("opentype");
  font-weight: 300;
  font-style: italic
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans"), local("Fira Sans Regular"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Regular.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Regular.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Regular.otf) format("opentype");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Regular Italic"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Italic.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Italic.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Italic.otf) format("opentype");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Medium"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Medium.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Medium.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Medium Italic"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-MediumItalic.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-MediumItalic.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-MediumItalic.otf) format("opentype");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Bold"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Bold.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Bold.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-Bold.otf) format("opentype");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: 'Fira Sans';
  src: local("Fira Sans Bold Italic"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-BoldItalic.woff2) format("woff2"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-BoldItalic.woff) format("woff"), url(https://raw.githubusercontent.com/arnabmunshi/fontface/master/Fira-Sans/FiraSans-BoldItalic.otf) format("opentype");
  font-weight: 600;
  font-style: italic
}

* {
  font-family: 'Fira Sans', sans-serif;
  box-sizing: border-box
}
